/* Style for the map container */
.mapContainer {
    min-height: 900px;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  /* Add custom class for marker icon styling */
  .customIcon {
    border: 2px solid white;
    border-radius: 50%; /* Makes it round */
  }
  
  .customPopup {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
  }
  
  .customPopup h3 {
    margin: 0;
    font-size: 1.2em;
    color: #2a9d8f;
  }
  
  .locationImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  }
 
   /* Floating destination list positioned over the map */
   .destinationList {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 20%;
    max-height: 60%; 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 15px 5px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    z-index: 2000; /* Ensure it's on top of the map */
  }
  .roadtripInfo {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 30%;
    max-height: 20%; 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 15px 5px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    z-index: 2000; /* Ensure it's on top of the map */
  }
  
  .destinationList ul, .roadtripInfo ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .destinationList li, .roadtripInfo li {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .destinationList li strong, .roadtripInfo li strong {
    font-size: 1.1em;
    color: #2a9d8f;
  }

  /* Style for destination buttons */
.destinationButton, .roadtripButton {
  background-color: #2a9d8f;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 8px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.destinationButtonText, .roadtripButtonText {
  color: white  !important;
}

.destinationButton:hover, .roadtripButton:hover {
  background-color: #21867a;
}

.marker {
  position: relative; /* Allows absolute positioning for the stop number */
}



  