.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .map {
    width: 100%;
    height: 100%;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .otherTrips {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 50px;
    width: 35%;
    max-height: 60%; 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 15px 5px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    z-index: 2000; /* Ensure it's on top of the map */
  }

  .otherTrips ul {
    list-style-type: none;
    padding: 5px 0px;
    display: flex;
    justify-content: flex-start;
  }

  .otherTrips button {
    min-width: 5em;
    width: 7rem;
    margin-right: 0.5rem;
    padding: 0.65rem 1rem;
    border-radius: 8px;
    background-color: #2a9d8f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    pointer-events: all;
  }
  
